.yui-inline-editor-form .yui-rating input {
/*
 * cant use display or visibility properties because then IE won't recognize the clicks
 */
  filter: alpha(opacity=1);
  opacity: 0.1;
  /* need to set size for IE6 */
  height: 16px;
  width: 16px;
}
.yui-rate,
.yui-rate .yui-rate-indicator,
.yui-inline-editor-form .yui-rating label {
  background: transparent url(../assets/star.gif) left top no-repeat;
  display:inline-block;
  height: 16px;
  width: 16px;
}
.yui-inline-editor-form .yui-rating label:hover {
  background-position:0 -16px;
}
.yui-inline-editor-form .yui-selected-rate1 .yui-rate-1,
.yui-inline-editor-form .yui-selected-rate2 .yui-rate-1,
.yui-inline-editor-form .yui-selected-rate2 .yui-rate-2,
.yui-inline-editor-form .yui-selected-rate3 .yui-rate-1,
.yui-inline-editor-form .yui-selected-rate3 .yui-rate-2,
.yui-inline-editor-form .yui-selected-rate3 .yui-rate-3,
.yui-inline-editor-form .yui-selected-rate4 .yui-rate-1,
.yui-inline-editor-form .yui-selected-rate4 .yui-rate-2,
.yui-inline-editor-form .yui-selected-rate4 .yui-rate-3,
.yui-inline-editor-form .yui-selected-rate4 .yui-rate-4,
.yui-inline-editor-form .yui-selected-rate5 .yui-rate-1,
.yui-inline-editor-form .yui-selected-rate5 .yui-rate-2,
.yui-inline-editor-form .yui-selected-rate5 .yui-rate-3,
.yui-inline-editor-form .yui-selected-rate5 .yui-rate-4,
.yui-inline-editor-form .yui-selected-rate5 .yui-rate-5
{
  background-position:0 -32px;
}
.yui-rate,
.yui-rate .yui-rate-indicator {
  background-repeat: repeat-x;
}
.yui-rate {
  display:inline-block;
  height: 16px;
  width: 80px;
}
.yui-rate .yui-rate-indicator {
  background-position:0 -32px;
  display:inline-block;
  height: 16px;
}
.yui-selected-rate1 .yui-rate-indicator {
  width: 16px;
}
.yui-selected-rate2 .yui-rate-indicator {
  width: 32px;
}
.yui-selected-rate3 .yui-rate-indicator {
  width: 48px;
}
.yui-selected-rate4 .yui-rate-indicator {
  width: 64px;
}
.yui-selected-rate5 .yui-rate-indicator {
  width: 80px;
}
